@model IEnumerable<Brand>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-1">
    <div class="row pt-1">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Brand" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> Create New Brand
            </a>
        </div>
        <table class="table table-bordered table-striped mt-1 w-100">
            <thead>
                <tr>
                    <th>
                        Brand Name
                    </th>
                
                    <th class="text-center">
                        Created Date
                    </th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>
                            @category.Name
                        </td>
                       
                        <td width="30%" class="text-center">
                            @category.CreatedDate
                        </td>
                        <td width="30%">
                                <a class="btn btn-warning mx-2"
                               asp-action="Update"
                               asp-route-id="@category.Id"><i class="bi bi-pencil-square"></i>Update</a>
                          
                                <a class="btn btn-primary mx-2"
                               asp-action="Delete"
                               asp-route-id="@category.Id"><i class="bi bi-x-square"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

