@model Product
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price" disabled class="form-control" />

        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-Danger w-50 me-1">Delete</button>
            <a asp-action="Index" class="btn btn-secondary w-50">
                Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }

